<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.lol.repository.MemberRepository">
        <select id="loginCheck" resultType="String">
            SELECT lolName from lol_member
            where lolId = #{lolId} and lolPw = #{lolPw}
        </select>

        <insert id="memberInsert" parameterType="com.lol.model.MemberVO">
            INSERT INTO lol_member (lolId,lolPw,lolName)
            values ( #{lolId}, #{lolPw}, #{lolName})
        </insert>

        <select id="memberList" resultType="com.lol.model.MemberVO">
            select lolName, lolId from lol_member
        </select>


</mapper>
